.Tomato{
color: yellow;
background: tomato;
}
.Orange{
    color: aqua;
    background: orange;
}
.DodgerBlue{
    color: white;
    background: dodgerblue;
}
.MediumSeaGreen{
    color: red;
    background: mediumseagreen;
}
.Gray{
    color: yellowgreen;
    background: gray;
}
.SlateBlue{
    color: lightgreen;
    background: slateblue;
}
.Violet{
    color: black;
    background: violet;
}
.LightGray{
    color: brown;
    background: lightgray;
}